.container {
    width: 100%;
    min-height: 100%;
}

.container__circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.repayments__item {
    text-align: center;
    padding: 15px;
    font-size: 28px;
}

.totals {
    width: 100%;
}

.totals__item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 10px;
    border-bottom: 1px solid grey;
    span {
        margin: 0px 10px;
    }
}
