@use 'styles/utilities/font';

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px 5%;
    background: #fff;
    position: relative;
    overflow: hidden;
    min-height: 75vh;
}

.title {
    font-size: font.$xl-size;
    margin-top: 45px;
    @media screen and (min-width: 1200px) {
        font-size: font.$xxxl-size;
        margin-top: 90px;
    }

    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    &::after {
        display: block;
        content: '';
        width: 100%;
        height: 1.3px;
        animation: gradient 7s ease-in infinite;
        background: linear-gradient(-45deg, #002884, #e73c7e, #23a6d5, #757ce8);
        background-size: 400% 400%;
        transform: translateY(-3rem);

        @media screen and (min-width: 1200px) {
            font-size: font.$xxxl-size;
            transform: translateY(-4rem);
        }
    }
}

.instructions {
    padding: 5px 10px 25px 10px;
    width: 100%;
    font-size: font.$lg-size;
    text-align: left;
    margin: 25px 0 0px 0;

    @media screen and (min-width: 1200px) {
        text-align: center;
        margin: 25px 0 45px 0;
        width: 50%;
    }
}

.calculator {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    position: relative;
    @media screen and (min-width: 1200px) {
        flex-direction: row;
        width: 70%;
    }
}

.tree {
    display: none;
    @media screen and (min-width: 1200px) {
        display: flex;
        position: absolute;
        bottom: -60px;
        right: -20%;
        height: 500px;
        fill: orange;
    }
    @media screen and (min-width: 1500px) {
        right: -12%;
    }

    @media screen and (min-width: 1700px) {
        right: -6%;
    }
}

.calculator__input {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;

    @media screen and (min-width: 1200px) {
        margin-left: 5%;
        margin-right: 5%;
        width: 50%;
        height: 600px;
    }
}

.calculator__output {
    width: 100%;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 1200px) {
        margin-right: 5%;
        width: 50%;
        max-height: 600px;
    }
}
