@use 'styles/utilities/font';

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Raleway:wght@300&display=swap');
.landingPage__container {
    min-height: 93vh;
    display: flex;
    flex-direction: column;
    background: #fff;
    margin: 0 0;
    @media screen and (min-width: 1000px) {
        flex-direction: column;
    }
}

.landingPage__title {
    // border: 2px solid black;
    display: flex;
    justify-content: center;
    height: 93vh;
}

.landingPage__title_left {
    font-size: font.$xl-size;
    padding: 10px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    @media screen and (min-width: 1200px) {
        font-size: 72px;
        padding: 10px;
    }
}

.landingPage__title_right {
    font-size: font.$xl-size;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    font-family: 'Quicksand', sans-serif;
    background-color: black;
    @media screen and (min-width: 1200px) {
        font-size: 48px;
    }

    & > p {
        padding: 25px;
        color: #fff;
        margin-left: 25px;
    }
}

.landingPage__button {
    text-align: center;
    color: #fff;
}

.landingPage__button_text {
    border: 1px solid #fff;
    width: 30%;
    margin: 0 auto;
    margin-top: 150px;
    font-size: 32px;
    padding: 10px;

    &:hover {
        cursor: pointer;
    }
}
