@use 'styles/utilities/font';

.expense__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 100px 5%;
    background: #fff;
    position: relative;
    overflow: hidden;
    padding-bottom: 100px;
    min-height: 75vh;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.expense__title {
    font-size: font.$xl-size;
    margin-top: 45px;
    @media screen and (min-width: 1200px) {
        font-size: font.$xxl-size;
        margin-top: 90px;
    }

    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    &::after {
        display: block;
        content: '';
        width: 100%;
        height: 1.3px;
        animation: gradient 7s ease-in infinite;
        background: linear-gradient(-45deg, #002884, #e73c7e, #23a6d5, #757ce8);
        background-size: 400% 400%;
        transform: translateY(-3rem);

        @media screen and (min-width: 1200px) {
            font-size: font.$xxxl-size;
            transform: translateY(-4rem);
        }
    }
}

.expense__instructions {
    padding: 0px 25px 5px 25px;
    width: 100%;
    font-size: font.$md-size;
    text-align: left;
    margin: 25px 0 0px 0;

    @media screen and (min-width: 1200px) {
        text-align: center;
        margin: 25px 0 45px 0;
        width: 50%;
    }
}

.expense__calculator {
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    position: relative;
    margin-top: 40px;
}

.calculator__slider {
    max-width: 100%;

    @media screen and (min-width: 380px) {
        width: 90%;
    }

    @media screen and (min-width: 1200px) {
        text-align: center;
        width: 70%;
    }
}

.expense__container_input {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 0 30px;
    @media screen and (min-width: 900px) {
        flex-direction: row;
    }
}

.expense__output {
    width: 100%;
    @media screen and (min-width: 900px) {
        width: 325px;
    }
}
