@use 'styles/utilities/font';

.deposit__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 100px 5%;
    background: #fff;
    position: relative;
    overflow: hidden;
    padding-bottom: 100px;
    min-height: 75vh;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.deposit__title {
    font-size: font.$xl-size;
    margin-top: 45px;
    @media screen and (min-width: 1200px) {
        font-size: font.$xxl-size;
        margin-top: 100px;
    }

    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    &::after {
        display: block;
        content: '';
        width: 100%;
        height: 1.3px;
        animation: gradient 7s ease-in infinite;
        background: linear-gradient(-45deg, #002884, #e73c7e, #23a6d5, #757ce8);
        background-size: 400% 400%;
        transform: translateY(-3rem);

        @media screen and (min-width: 1200px) {
            font-size: font.$xxxl-size;
            transform: translateY(-4rem);
        }
    }
}

.deposit_instructions {
    padding: 0px 25px 25px 25px;
    width: 100%;
    font-size: font.$md-size;
    text-align: left;
    margin: 25px 0 0px 0;

    @media screen and (min-width: 1200px) {
        padding: 0px 25px 0px 25px;
        text-align: center;
        margin: 50px 0 45px 0;
        width: 50%;
    }
}

.deposit_output {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    @media screen and (min-width: 1200px) {
        flex-direction: row;
        margin: 50px 0 45px 0;
    }
}

.deposit__output_item {
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding: 15px 5px;
    min-width: 300px;

    @media screen and (min-width: 1200px) {
        padding: 15px 10px;
        margin: 5px 25px 0 0;
        p {
            margin-right: 100px;
        }
    }
}

.deposit__savings {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    line-height: 2;

    p {
        text-align: center;
        padding: 15px;
    }
}

.deposit__input {
    width: 45px;
    font-size: 1.3rem;
    margin-left: 0.3rem;
}

.deposit__time_untill_deposit {
    h3 {
        text-align: center;
    }
    @media screen and (min-width: 1200px) {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        div {
            border-bottom: 1px solid black;
            padding: 25px;
        }
    }
}
