@use 'styles/utilities/font';

.navigation {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.title {
    width: 100%;
    margin-left: 5%;

    h1 {
        font-weight: 500;
    }
}

.navigation__container {
    display: none;
    @media screen and(min-width: 730px) {
        display: flex;
        justify-content: right;
        align-items: center;
        width: 100%;
        position: relative;
        margin-right: 10%;
    }
}

.list {
    display: flex;
    text-align: left;
    position: relative;
    &:after {
        content: '';
        top: 0;
        left: 0;
        position: absolute;
        width: 125%;
        height: 1.5px;
        background: black;
    }
}

.list__item {
    padding-top: 10px;
    margin: 0 15px;
    font-size: font.$xl-size;
}
