.container {
    display: flex;
    padding: 0 10px;
    width: 100%;

    @media screen and (min-width: 900px) {
        width: 404.3px;
    }
}

.textField {
    font-size: 60px;
    height: 75px;
    border-bottom: none;
}

.tooltip {
    display: none;

    @media screen and (min-width: 900px) {
        display: flex;
    }
}
